<h1>PAGE: EDIT DISPLAY</h1>
<form hx-put="{{ url_for('displays.update', pkey=display.pkey) }}"
      hx-encoding="multipart/form-data"
      hx-target="#app"
      hx-swap="innerHTML">
  <label>Player 1 Name:
    <input type="text" name="p1_name" value="{{ display.p1_name }}" required>
  </label><br>
  <label>Player 1 Score:
    <input type="number" name="p1_score" value="{{ display.p1_score }}">
  </label><br>
  <label>Player 1 Image:
    <input
        type="file" name="p1_file" accept="image/*"
        hx-post="/media/upload"
        hx-trigger="change"
        hx-target="#p1_media_id"
        hx-swap="innerHTML"
        hx-vals='{"inputFile": "p1_file", "outputName": "p1_media_id"}'
    >
  </label><br>
  <div id="p1_media_id">
    <div
        type="hidden"
        hx-get='{{ url_for(
            "media.show",
            pkey=display.p1_media_id,
            outputName="p1_media_id"
        ) }}'
        hx-trigger="load"
        hx-target="#p1_media_id"
        hx-swap="innerHTML"
    ></div>
  </div>
  <label>Player 2 Name:
    <input type="text" name="p2_name" value="{{ display.p2_name }}" required>
  </label><br>
  <label>Player 2 Score:
    <input type="number" name="p2_score" value="{{ display.p2_score }}">
  </label><br>
  <label>Player 2 Image:
    <input
        type="file" name="p2_file" accept="image/*"
        hx-post="/media/upload"
        hx-trigger="change"
        hx-swap="#p2_media_id"
        hx-vals='{"inputName": "p2_file", "outputName": "p2_media_id"}'
    >
  </label><br>
  <div id="p2_media_id">
    <div
        hx-get='{{ url_for(
            "media.show",
            pkey=display.p2_media_id,
            outputName="p2_media_id"
        ) }}'
        hx-trigger="load"
        hx-target="#p2_media_id"
        hx-swap="innerHTML"
    ></div>
  </div>
  <input
      type="hidden"
      name="code"
      value="{{ display.code }}">
  <button type="submit">Update</button>
  <button
      hx-get="{{ url_for('index', page='displays') }}"
      hx-target="#app"
      hx-swap="innerHTML">
    Back to List
  </button>
</form>

