<button hx-get="{{ url_for('displays.new') }}"
        hx-target="#app"
        hx-swap="innerHTML">
  Create New Display
</button>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>P1 Name</th>
    <th>P1 Score</th>
    <th>P1 Image</th>
    <th>P2 Name</th>
    <th>P2 Score</th>
    <th>P2 Image</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody>
  {% for entry in entries %}
    <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.p1_name }}</td>
      <td>{{ entry.p1_score }}</td>
      <td>
        {% if entry.p1ImgSrc %}
          <img
              src="{{ url_for('static', filename=entry.p1ImgSrc) }}"
              width="64"
              alt="player 1 image">
        {% endif %}
      </td>
      <td>{{ entry.p2_name }}</td>
      <td>{{ entry.p2_score }}</td>
      <td>
        {% if entry.p2ImgSrc %}
          <img
              src="{{ url_for('static', filename=entry.p2ImgSrc) }}"
              width="64"
              alt="player 2 image">
        {% endif %}
      </td>
      <td>{{ entry.created_at }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>