{% for record in records %}
  {% if loop.index < size %}
    {% if loop.index < size - 1 %}
  <tr>
    {% else %}
  <tr hx-get='/displays?page={{ page + 1 }}&size={{ size }}{{ "&search=" + enc_search if enc_search else "" }}'
    hx-trigger="revealed"
    hx-swap="afterend">
    {% endif %}
    <td>{{ record.pkey }}</td>
    <td>{{ record.p1_name }}</td>
    <td>{{ record.p1_score }}</td>
    <td>
      {% if record.p1_img_src %}
        <img
            src="{{ record.p1_img_src }}"
            width="64"
            alt="player 1 image">
      {% endif %}
    </td>
    <td>{{ record.p2_name }}</td>
    <td>{{ record.p2_score }}</td>
    <td>
      {% if record.p2_img_src %}
        <img
            src="{{ record.p2_img_src }}"
            width="64"
            alt="player 2 image">
      {% endif %}
    </td>
    <td>{{ record.created_at }}</td>
    <td
        hx-get="{{ url_for('displays.edit', pkey=record.pkey) }}"
        hx-target="#app"
        hx-swap="innerHTML">
      Edit
    </td>
    <td hx-get="{{ url_for('displays.show', pkey=record.pkey) }}">
      Show
    </td>
    <td>
      <a href="{{ url_for('displays.download', pkey=record.pkey) }}" download>
        Download
      </a>
    </td>
    <td
        hx-delete="{{ url_for('displays.delete', pkey=record.pkey) }}"
        hx-target="#app"
        hx-swap="innerHTML">
      Delete
    </td>
  </tr>
  {% endif %}
{% endfor %}