<div
    id="modal"
    _="on closeModal add .closing then wait for animationend then remove me
        on keyup[key is 'Escape'] from window trigger closeModal">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <h1>Preview</h1>
    {% if preview %}
      <img
          hx-get="{{ url_for('displays.zoom', src=preview) }}"
          hx-target="body"
          hx-trigger="click"
          hx-swap="beforeend"
          src="{{ preview }}"
          width="1280"
          alt="image preview"
      >
    {% endif %}
    Are you sure you want to display this image on the panel?
    <br>
    <br>
    <button _="on click trigger closeModal"
            hx-get="{{ url_for('displays.show', pkey=display.pkey) }}">
      Yes
    </button>
    <button _="on click trigger closeModal">Cancel</button>
  </div>
</div>