<div
    id="modal"
    _="on closeModal add .closing then wait for animationend then remove me
        on keyup[key is 'Escape'] from window trigger closeModal">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <h1>Preview</h1>
    This is the modal content.
    You can put anything here, like text, or a form, or an image.
    <br>
    <br>
    <button _="on click trigger closeModal">Close</button>
  </div>
</div>