<div
    id="modal"
    _="on closeModal add .closing then wait for animationend then remove me
        on keyup[key is 'Escape'] from window trigger closeModal">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <h1>Preview</h1>
    {% if preview %}
      <img
          hx-get="{{ url_for('displays.zoom', src=preview) }}"
          hx-target="body"
          hx-trigger="click"
          hx-swap="beforeend"
          src="{{ preview }}"
          width="1280"
          alt="image preview"
      >
    {% endif %}
    Are you sure you want to display this image on the panel?
    <br>
    <br>
    <button _="on click trigger closeModal"
            class="px-6 py-2 rounded-full font-bold text-[#F215FF] bg-[#1CF2FE] shadow-[0_0_16px_#F215FF] hover:bg-[#91A1FF] hover:text-[#713481] transition-all duration-200 outline outline-2 outline-[#713481] focus:ring-2 focus:ring-[#F215FF]"
            hx-get="{{ url_for('displays.show', pkey=display.pkey) }}">
      Yes
    </button>
    <button _="on click trigger closeModal"
            class="px-6 py-2 rounded-full font-bold text-[#F215FF] bg-[#1CF2FE] shadow-[0_0_16px_#F215FF] hover:bg-[#91A1FF] hover:text-[#713481] transition-all duration-200 outline outline-2 outline-[#713481] focus:ring-2 focus:ring-[#F215FF]">
      Cancel
    </button>
  </div>
</div>