<h1>PAGE: DISPLAYS</h1>
<button hx-get="{{ url_for('displays.new') }}"
        hx-target="#app"
        hx-swap="innerHTML">
  Create New Display
</button>
<button hx-post="{{ url_for('displays.sync') }}"
        hx-target="#app"
        hx-swap="innerHTML">
  Sync
</button>
<div class="flex flex-row items-center gap-2">
  <div class="flex-initial">Top Score:</div>
  <div id="top_score"
       class="flex-initial"
       hx-get="{{ url_for('scores.top') }}"
       hx-trigger="load"
       hx-target="#top_score"
       hx-swap="innerHTML">
  </div>
  <button
      class="flex-initial"
      hx-delete="{{ url_for('scores.reset') }}"
      hx-target="#app"
      hx-swap="innerHTML">
    Reset
  </button>
</div>
<div>
  <label>
    Search: <input
      type="text"
      id="search"
      name="search"
      hx-get="{{ url_for('displays.index') }}"
      hx-target="#content"
      hx-swap="innerHTML"
      hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
      hx-include="search"
      hx-preserve="true">
  </label>
</div>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>P1 Name</th>
    <th>P1 Score</th>
    <th>P1 Image</th>
    <th>P2 Name</th>
    <th>P2 Score</th>
    <th>P2 Image</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody
      id="content"
      hx-get="{{ url_for('displays.index') }}"
      hx-trigger="load"
      hx-target="#content"
      hx-swap="innerHTML">
  <!-- partials will replace this <tr> -->
  </tbody>
</table>
