<h1 class="text-3xl font-extrabold text-[#F215FF] uppercase tracking-wider drop-shadow-lg mb-8 mt-2 text-center">
  PLAYERS</h1>
<div class="mx-auto w-fit mb-8">
  <button
      class="px-6 py-2 rounded-full font-bold text-[#F215FF] bg-[#1CF2FE] shadow-[0_0_16px_#F215FF] hover:bg-[#91A1FF] hover:text-[#713481] transition-all duration-200 outline outline-2 outline-[#713481] focus:ring-2 focus:ring-[#F215FF]"
      hx-get="{{ url_for('badges.new') }}"
      hx-target="#app_body"
      hx-swap="innerHTML">
    New
  </button>
</div>
<div class="flex flex-col md:flex-row items-center gap-2 mb-8 justify-start">
  <label class="flex-initial text-white">
    Search:
  </label>
  <input
      class="px-4 py-2 rounded bg-[#061438] border-2 border-[#1CF2FE] text-white focus:border-[#F215FF] placeholder-[#91A1FF] transition w-full md:w-auto"
      type="text"
      id="search"
      name="search"
      hx-get="{{ url_for('badges.index') }}"
      hx-target="#content"
      hx-swap="innerHTML"
      hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
      hx-include="search">
</div>
<div class="overflow-x-auto">
  <table
      class="w-full text-white border-separate border-spacing-0 bg-[#061438] border-4 border-[#713481] shadow-lg">
    <thead>
    <tr>
      <th class="px-4 py-2 border-b-2 border-[#713481] text-center">ID</th>
      <th class="px-4 py-2 border-b-2 border-[#713481] text-center">Image</th>
      <th class="px-4 py-2 border-b-2 border-[#713481] text-center">Name</th>
      <th class="px-4 py-2 border-b-2 border-[#713481] text-center">Badge<br>UID</th>
      <th class="px-4 py-2 border-b-2 border-[#713481] text-center">Created<br>At</th>
      <th class="px-4 py-2 border-b-2 border-[#713481] text-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
             class="size-6 text-[#91A1FF] inline">
          <path
              d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712L8 16.313V20h3.687l8.826-8.826Z"/>
        </svg>
      </th>
      <th class="px-4 py-2 border-b-2 border-[#713481] text-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
             class="size-6 text-[#F215FF] inline">
          <path fill-rule="evenodd"
                d="M16.5 4.478v.227a48.842 48.842 0 0 1 3.865.5l.282.082c1.4.41 1.4 2.37 0 2.78l-.174.05Z"
                clip-rule="evenodd"/>
          <path fill-rule="evenodd"
                d="M13.375 1.5c-.404 0-.808.078-1.207.239L4.5 5.05a3 3 0 0 0-1.892 2.77L2.25 17.577A4.5 4.5 0 0 0 6.75 22.075h10.5a4.5 4.5 0 0 0 4.5-4.5l-.158-9.754a3 3 0 0 0-1.892-2.77l-7.668-3.31c-.398-.161-.802-.239-1.207-.239Zm.306 6.016a.75.75 0 1 0-1.06-1.06L9 9.44l-1.72-1.72a.75.75 0 0 0-1.06 1.06L7.94 10.5l-1.72 1.72a.75.75 0 1 0 1.06 1.06L9 11.56l1.72 1.72a.75.75 0 1 0 1.06-1.06L10.06 10.5l1.72-1.72Z"
                clip-rule="evenodd"/>
        </svg>
      </th>
    </tr>
    </thead>
    <tbody
        id="content"
        hx-get="{{ url_for('badges.index') }}"
        hx-trigger="load"
        hx-target="#content"
        hx-swap="innerHTML">
    {% for record in records %}
      {% if loop.index < size %}
        {% if loop.index < size - 1 %}
          <tr class="border-b border-[#713481]">
            {% else %}
          <tr hx-get='/badges?page={{ page + 1 }}&size=
          {{ size }}{{ "&search=" + enc_search if enc_search else "" }}'
              hx-trigger="revealed"
              hx-swap="afterend">
        {% endif %}
      <td class="px-4 py-2 text-right">{{ record.pkey }}</td>
      <td class="px-4 py-2 text-left">{{ record.code }}</td>
      <td class="px-4 py-2 text-left">{{ record.name }}</td>
      <td class="px-4 py-2 text-left">
        {% if record.img_src %}
          <img
              src="{{ record.server_img_src() }}"
              width="64"
              alt="player badge image">
        {% endif %}
      </td>
      <td class="px-4 py-2 text-left">
        {% set dt = record.created_at.split(' ') %}{{ dt[0] }}<br><span
          class="text-xs text-[#91A1FF]">{{ dt[1] if dt|length > 1 else '' }}</span></td>
      <td class="px-4 py-2"
          hx-get="{{ url_for('badges.edit', pkey=record.pkey) }}"
          hx-target="#app_body"
          hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
             class="size-6 text-[#91A1FF] hover:text-[#1CF2FE]">
          <path
              d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712L8 16.313V20h3.687l8.826-8.826Z"/>
        </svg>
      </td>
      <td class="px-4 py-2"
          hx-delete="{{ url_for('badges.delete', pkey=record.pkey) }}"
          hx-target="#app"
          hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
             class="size-6 text-[#F215FF] hover:text-[#91A1FF]">
          <path fill-rule="evenodd"
                d="M16.5 4.478v.227a48.842 48.842 0 0 1 3.865.5l.282.082c1.4.41 1.4 2.37 0 2.78l-.174.05Z"
                clip-rule="evenodd"/>
          <path fill-rule="evenodd"
                d="M13.375 1.5c-.404 0-.808.078-1.207.239L4.5 5.05a3 3 0 0 0-1.892 2.77L2.25 17.577A4.5 4.5 0 0 0 6.75 22.075h10.5a4.5 4.5 0 0 0 4.5-4.5l-.158-9.754a3 3 0 0 0-1.892-2.77l-7.668-3.31c-.398-.161-.802-.239-1.207-.239Zm.306 6.016a.75.75 0 1 0-1.06-1.06L9 9.44l-1.72-1.72a.75.75 0 0 0-1.06 1.06L7.94 10.5l-1.72 1.72a.75.75 0 1 0 1.06 1.06L9 11.56l1.72 1.72a.75.75 0 1 0 1.06-1.06L10.06 10.5l1.72-1.72Z"
                clip-rule="evenodd"/>
        </svg>
      </td>
      </tr>
      {% endif %}
    {% endfor %}
    <!-- partials will replace this <tr> -->
    </tbody>
  </table>
</div>
