<h1>PAGE: PLAYERS</h1>
<button hx-get="{{ url_for('badges.new') }}"
        hx-target="#app_body"
        hx-swap="innerHTML">
  Create New Player
</button>
<div>
  <label>
    Search: <input
      type="text"
      id="search"
      name="search"
      hx-get="{{ url_for('badges.index') }}"
      hx-target="#content"
      hx-swap="innerHTML"
      hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
      hx-include="search">
  </label>
</div>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Badge UID</th>
    <th>Name</th>
    <th>Image</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody
      id="content"
      hx-get="{{ url_for('badges.index') }}"
      hx-trigger="load"
      hx-target="#content"
      hx-swap="innerHTML">
  <!-- partials will replace this <tr> -->
  </tbody>
</table>
