# --> to copy to /etc/systemd/system:
# ln -sfn /home/server/lifc-arcade-props/dietpi/server/config/pixel_pusher_server.service /etc/systemd/system/
# sudo systemctl start pixel_pusher_server
# sudo systemctl enable pixel_pusher_server
# --> to check:
# sudo systemctl status pixel_pusher_server

[Unit]
Description=Pixel Pusher server to push pixels to led panels
Wants=gunicorn_server.service
Before=gunicorn_server.service

[Service]
User=server
Group=www-data
WorkingDirectory=/home/server/lifc-arcade-props
ExecStart=sudo /home/server/rpi-matrix-pixelpusher/pixel-push --led-rows=64 --led-cols=64 --led-chain=5 --led-brightness=25 --led-slowdown-gpio=4 --led-panel-type=FM6127 --led-pwm-lsb-nanoseconds=110 --led-multiplexing=0 --led-row-addr-type=0 -i eth0 -u 65507

[Install]
WantedBy=multi-user.target
