[Unit]
Description=Pixel Pusher server to push pixels to led panels
Wants=gunicorn_server.service
Before=gunicorn_server.service

[Service]
Type=forking
User=root
Group=server
WorkingDirectory=/home/server/lifc-arcade-props
ExecStart=/home/server/rpi-matrix-pixelpusher/pixel-push --led-rows=64 --led-cols=64 --led-chain=5 --led-brightness=40 --led-slowdown-gpio=5 --led-panel-type=FM6127 --led-pwm-lsb-nanoseconds=50 --led-multiplexing=0 --led-row-addr-type=0 -i eth0 -u 65507 -d
Restart=always

[Install]
WantedBy=multi-user.target
