<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Display Sets</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
  <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"></script>
  <script
      src="https://unpkg.com/hyperscript.org@0.9.14"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <style>
    /* Hide the number input spin buttons */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }
  </style>
</head>
<body class="min-h-screen bg-[#061438] text-white font-['Press_Start_2P']">
<div id="app" class="p-4" hx-get="{{ url_for('index') }}" hx-trigger="load" hx-swap="innerHTML">
  <!-- partials will be loaded here -->
</div>
</body>
</html> 