# --> to copy to /etc/systemd/system:
# ln -sfn /home/trigger/lifc-arcade-props/dietpi/input/config/*.service /etc/systemd/system/
# sudo systemctl start player_1_rfid.service
# sudo systemctl enable player_1_rfid.service
# --> to check:
# sudo systemctl status player_1_rfid.service

[Unit]
Description=Player 1 RFID Reader Background Service

[Service]
Type=simple
User=root
Group=input
WorkingDirectory=/home/trigger/lifc-arcade-props
ExecStart=/home/trigger/lifc-arcade-props/inputs/.venv/bin/python /home/trigger/lifc-arcade-props/inputs/player_1_rfid.py
Restart=always

[Install]
WantedBy=multi-user.target
